.menu-title__container {
  color: #fff;
}

.menu-title__container > h1 {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-size: 135px;
  font-weight: bolder;
}

.menu-title__container > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
